<!DOCTYPE html>
<html>
	<head>
		<title>Plan zajęć</title>
				
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style type="text/css">
			th, td { vertical-align: middle !important; height: 64px; }
		</style>
	</head>
	<body>
	
	
	
		<table class='table table-striped table-bordered text-center'>
			<tr>
				<th>godzina/dzień</th>
				{% for day in schedule.getDays() %}
					<th style='width: 19%'>{{ day }}</th>
				{% endfor %}
			</tr>

			{% for slot in schedule.getHours() %}
				<tr>
					<th>{{ slot }}</th>
					{% for day in schedule.getDays() %}
						<td>
							{% if schedule.hasClass(loop.index, loop.parent.loop.index) %}
							{% set class = schedule.getClass(loop.index, loop.parent.loop.index) %}
								{%if(class.getFormName()=="wykład")%}
								<font color="red" ><small>{{ class.getFormName() }}:</small><br>
								{{ class.getName()}}<br>
								{{ class.getClassNumber()}}<br>
								{{ class.getTeacher()}}<br></font>
								{%endif%}
								
								{%if(class.getFormName()=="ćwiczenia")%}
								<font color="blue" ><small>{{ class.getFormName() }}:</small><br>
								{{ class.getName()}}<br>
								{{ class.getClassNumber()}}<br>
								{{ class.getTeacher()}}<br></font>
								{%endif%}
								
								{%if(class.getFormName()=="laboratorium")%}
								<font color="brown" ><small>{{ class.getFormName() }}:</small><br>
								{{ class.getName()}}<br>
								{{ class.getClassNumber()}}<br>
								{{ class.getTeacher()}}<br></font>
								{%endif%}
								
								{%if(class.getFormName()=="W-F")%}
								<font color="Orange" ><small>{{ class.getFormName() }}:</small><br>
								{{ class.getName()}}<br>
								{{ class.getClassNumber()}}<br>
								{{ class.getTeacher()}}<br></font>
								{%endif%}
								
								{%if(class.getFormName()=="seminarium")%}
								<font color="green" ><small>{{ class.getFormName() }}:</small><br>
								{{ class.getName()}}<br>
								{{ class.getClassNumber()}}<br>
								{{ class.getTeacher()}}<br></font>
								{%endif%}
								
								{%if(class.getFormName()=="projekt")%}
								<font color="purple" ><small>{{ class.getFormName() }}:</small><br>
								{{ class.getName()}}<br>
								{{ class.getClassNumber()}}<br>
								{{ class.getTeacher()}}<br></font>
								{%endif%}
								
							
								
								
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>